
<body>
    <div>
        <mat-toolbar color="primary">
            <button  mat-icon-button aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
              </button>
            <span><img src="./assets/584c57c01fc21103bb375bae.png" class="logo"style="width: 50px;"></span>
            <span class="example-spacer"></span>
            <img src="./assets/img_avatar.png" class="avatar"  style="width: 50px"> 
          </mat-toolbar>
    </div>
    <div class="formCard">
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="firstFormGroup">
                <form (ngSubmit)="onSubmit()" [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>General description</ng-template>
                    <div class="formFields">
                        <mat-form-field>
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="name" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Description</mat-label>
                            <input matInput placeholder="description" formControlName="firstCtrl" required>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date </mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="firstCtrl">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>     
                        <mat-form-field>
                            <mat-label>Choose a time</mat-label>
                            <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" formControlName="firstCtrl" >
                            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                        </mat-form-field>     
                        <mat-form-field>
                            <mat-label>Duration</mat-label>
                            <input matInput placeholder="duration" formControlName="firstCtrl" required>
                        </mat-form-field> 
                        <mat-slide-toggle style="margin-left: -115px;" name="locationCheckBox" >Online event?</mat-slide-toggle>
                        <mat-form-field >
                            <mat-label>Link to meeting</mat-label>
                            <input matInput placeholder="linkonline" formControlName="firstCtrl"> 
                        </mat-form-field>
                        <mat-form-field >
                            <mat-label>Location</mat-label>
                            <input matInput placeholder="location" formControlName="firstCtrl"> 
                        </mat-form-field>
                    </div>
                    <div>
                    <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="secondFormGroup" label="Attendance">
                <form [formGroup]="secondFormGroup">
                    <div>
                        <mat-form-field>
                            <mat-label>Topic</mat-label>
                            <input matInput placeholder="Topic" formControlName="secondCtrl" required>
                        </mat-form-field>
                        <mat-toolbar>
                            <button mat-flat-button color="primary" type="button">
                            Browse
                            <input type="file" #fileInput id="uploadFile" formControlName="secondCtrl" name="uploadFile" multiple="multiple"
                            accept="image/*" />
                            </button>
                        </mat-toolbar>
                        <mat-form-field appearance="fill">
                            <mat-label>Groups</mat-label>
                            <mat-select formControlName="secondCtrl" multiple>
                              <mat-option *ngFor="let group of groupList" [value]="group">{{group}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                          
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="thirdFormGroup" label="Group visibility">
                <form [formGroup]="thirdFormGroup">
                    <div>
                        <mat-form-field>
                            <mat-label>RSVP limit</mat-label>
                            <input matInput formControlName="thirdCtrl" placeholder="limit"
                                    required>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Open register time</mat-label>
                            <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" formControlName="thirdCtrl" >
                            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #toggleTimepicker1></ngx-material-timepicker>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label>Close register time</mat-label>
                            <input matInput [ngxTimepicker]="toggleTimepicker" [disableClick]="true" formControlName="thirdCtrl" >
                            <ngx-material-timepicker-toggle [for]="toggleTimepicker"></ngx-material-timepicker-toggle>
                            <ngx-material-timepicker #toggleTimepicker></ngx-material-timepicker>
                        </mat-form-field>
                        <mat-slide-toggle style="margin-left: -115px;" formControlName="thirdCtrl"name="locationCheckBox">Has fee?</mat-slide-toggle>
                        <mat-form-field>
                            <mat-label>Fee</mat-label>
                            <input matInput formControlName="thirdCtrl" placeholder="">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button type="submit" matStepperNext>Submit</button>
                    </div>
                </form>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</body>
